extend layout
block content
  #youtube-player
    | Here comes youtube player
  #playlist
    | Here comes the playlist
block sidebar
  .widget
    h1 Request a song
    #input-wrapper
      form
        input(type='text', name='msurl')
        button(type='submit' id='submit') Submit
    #message