extend layout
block content
  #youtube-player
    | Here comes youtube player
  #nowplaying
  #playlist
    | Here comes the playlist
block sidebar
  .widget
    h1 Request a song
    #input-wrapper
      form
        input#msurl(type='text', name='msurl')
        button#submit(type='submit') Submit
    #message