extend layout
block content
  #youtube-player
    | <iframe width="600" height="350" src="https://s3.amazonaws.com/s.musescore.com/labs/steinway-broadcast.html" frameborder="0" allowfullscreen></iframe>
  #nowplaying
    | Now playing
    span#nowplaying-track
  #playlist
    | Here comes the playlist
block sidebar
  .widget
    h1 Request a song
    #input-wrapper
      form
        input#msurl(type='text', name='msurl')
        button#submit(type='submit') Submit
    #message