!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/faye/client.js')
    script(type='text/javascript', src='/javascript/script.js')
  body
    header
      h1= title
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Made by <a href="http://twitter.com/lasconic">Nicolas Froment</a>, <a href="http://twitter.com/paulo_seb">Paul Sebastien</a>, <a href="http://facebook.com/florianweiss1990">Florian Weiss</a>, <a href="http://twitter.com/thomasbonte">Thomas Bonte</a> for MusicHackDay Munich