!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/faye/client.js')
    script(type='text/javascript', src='/javascript/script.js')
  body
    header
      h1= title
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Powered by <a href="http://musescore.com">MuseScore.com</a> <a href="http://developers.musescore.com">API</a>